<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--保证requestmapping能进行正常使用，在handlermapping中能够找到这个映射方法 -->
    <mvc:annotation-driven/>

    <!--&lt;!&ndash;配置拦截器 &ndash;&gt;-->
    <!--<mvc:interceptors>-->
       <!--<mvc:interceptor>-->
           <!--<mvc:mapping path="/**"/>-->
           <!--<mvc:exclude-mapping path="/admin"/>-->
           <!--<mvc:exclude-mapping path="/adminLogin"/>-->
           <!--<mvc:exclude-mapping path="/vcode"/>-->
           <!--<mvc:exclude-mapping path="/toRegisterAdmin"/>-->
           <!--<bean class="com.nefu.software.tpa.admin.util.MyIntercepter"/>-->
       <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
    <!--注解扫描控制层 -->
    <context:component-scan base-package="com.nefu.software.tpa.admin.controller"/>

    <!--返回视图进行全路径的补充 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--上传下载配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="urf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="4096"/>
    </bean>
</beans>